@import '../../../../theme/variables.scss';

.container {
  .menuList {
    .menuItem {
      align-items: center;
      border-bottom: 1px solid $dark-border-color;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      padding: 10px 15px 10px 20px;

      &:first-child {
        border-top: 1px solid $dark-border-color;
      }

      &:hover {
        background-color: $light-dark-color;
      }
      // TODO: uncomment after routing implemented
      // &.selected {
      //   border-left: 5px solid $primary-color;
      // }

      .menuItemDetails {
        .menuItemLabel {
          padding-left: 1rem;
        }
      }

      svg {
        vertical-align: middle;
      }
    }
  }
}
