@import '../../../../theme/variables.scss';

.container {
  .menuList {
    li {
      position: relative;
    }

    .menuItemContainer {
      cursor: pointer;
      border-bottom: 1px solid $dark-border-color;

      .menuItem {
        font-size: 0.875rem;
        padding: 10px 0 10px 20px;
      }

      &:first-child {
        border-top: 1px solid $dark-border-color;
      }

      .expandableItemContainer {
        padding-right: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .menuItemLabel {
        padding-left: 1rem;
      }

      svg {
        vertical-align: middle;
      }

      a {
        display: block;
        color: inherit;
      }
    }

    .hidden {
      display: none;
    }

    .shown {
      display: block;
    }

    .categoryIdent {
      .menuItemContainer {
        .menuItem {
          font-size: 0.75rem;
        }
      }
    }
  }
}

.selected {
  background-color: $light-dark-color;

  &::before {
    width: 5px;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: $primary-color;
    height: 100%;
  }
}
