@import '../../../../../theme/variables.scss';

.cardWrapper {
  flex: 1 1 500px;
  min-width: 500px;
}

.container {
  display: grid;
  font-size: 0.875rem;
  gap: 1.5rem;

  .headerContainer {
    display: flex;
    gap: 2rem;
    justify-content: space-between;

    .cardLogoAndNumber {
      align-items: center;
      display: flex;
      font-size: 1.25rem;
      gap: 0.5rem;

      .paymentMethodLogo {
        height: 32px;
        width: 40px;
      }

      .cardNumber {
        .extraSpace {
          margin-right: 3px;
        }
      }
    }
  }

  .cardDetailsList {
    display: grid;
    gap: 1.5rem;

    li {
      display: grid;
      gap: 1rem;
      grid-auto-flow: column;
      grid-template-columns: 3fr 5fr;

      .detailLabel {
        color: $grey-color;
      }
    }
  }
}
