.container {
  max-height: calc(100vh - 189px);
  min-width: 15rem;
  overflow: auto;

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;

  /* Firefox */
  // Hide scrollbar in Chrome,Safari,Opera
  &::-webkit-scrollbar {
    display: none;
  }
}
