@import '../../../../../theme/variables.scss';

.container {
  color: $grey-color;
  justify-self: start;
  margin-top: 1.5rem;

  ul {
    display: flex;
    font-size: 0.875rem;

    li::after {
      content: '/\00a0';
      padding: 0.25rem;
    }
  }
}

.active {
  color: $primary-color-dark;
}
