@import '../../../../../theme/variables.scss';

.container {
  li {
    cursor: pointer;
    width: 100%;

    span {
      align-items: center;
      display: flex;
      gap: 10px;
      height: 20px;
      padding: 8px;
    }
  }
}

.activeMenuItem {
  background-color: $light-border-color;
  font-weight: $bold-font-weight;
}
