@import '../../../theme/variables.scss';

.button {
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid $primary-color;
  border-radius: 3px;
  padding: 0.5rem 1.5rem;
  font-weight: $bold-font-weight;
  font-size: 0.875rem;

  &.empty {
    color: $primary-color;
    background-color: $default-background-color;

    &:disabled {
      color: $disabled-grey-color;
      border-color: $disabled-grey-color;
      cursor: default;
    }
  }

  &.contained {
    background-color: $primary-color;
    color: $invert-color;

    &:disabled {
      color: $disabled-grey-color;
      background-color: $background-grey-color;
      border-color: $background-grey-color;
      cursor: default;
    }
  }
}
