{
  "presets": ["@babel/env", "@babel/preset-react", "@babel/preset-typescript"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@msp": "./src",
          "@common": "./src/components/common"
        }
      }
    ]
  ]
}
