@import '../../../theme/variables.scss';

.container {
  align-items: center;
  gap: 0.625rem;
  font-size: 0.875rem;

  input {
    border-radius: 3px;
    display: inline;
    width: 100%;
    outline: none;
    padding: 0.438rem 0.75rem;
    border: 1px solid $grey-color;
    box-sizing: border-box;
    cursor: default;

    &::placeholder {
      color: $secondary-color;
    }
  }
}
