@import '../../../../theme/variables.scss';

$menu-shadow: 0 3px 6px rgba(85, 85, 85, 0.24);

.container {
  background-color: $default-background-color;
  box-shadow: $menu-shadow;
  font-size: 0.875rem;
  min-width: 360px;
  padding: 1.5rem;
  position: absolute;
  right: 0;

  .userName {
    font-size: 1.25rem;
  }

  .userEmail {
    color: $grey-color;
    margin-top: 0.5rem;
  }

  hr {
    border-bottom: none;
    border-color: $light-grey-color;
    margin: 12px 0 22px;
  }

  .linksList {
    display: grid;
    gap: 15px;
    margin: 20px 0;
  }

  .ctaLabel {
    margin: 1.5rem 0 0.5rem;
    text-align: center;
  }

  .fullWidthCta {
    width: 100%;
  }
}
