@import '../../../theme/variables.scss';

.small {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.small::after {
  content: ' ';
  display: block;
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 50%;
  border: 4px solid $default-background-color;
  border-color: $default-background-color transparent;
  animation: lds-dual-ring 0.7s linear infinite;
}

.medium {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.medium::after {
  content: ' ';
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  border: 4px solid $light-grey-color;
  border-color: $light-grey-color transparent;
  animation: lds-dual-ring 0.7s linear infinite;
}

.large {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.large::after {
  content: ' ';
  display: block;
  width: 2.875rem;
  height: 2.875rem;
  border-radius: 50%;
  border: 4px solid $light-grey-color;
  border-color: $light-grey-color transparent;
  animation: lds-dual-ring 0.7s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
