@import '../../theme/variables.scss';

.container {
  box-shadow: $table-shadow;

  td,
  th,
  table {
    border-bottom: 1px solid $light-border-color;
  }

  table {
    border-collapse: collapse;

    th {
      text-align: left;
      padding-inline: 24px;
    }

    tr {
      height: 48px;
    }

    td {
      box-sizing: border-box;
      padding-inline: 24px;

      &:hover {
        background-color: $primary-light-color;
      }

      svg {
        vertical-align: middle;
      }
    }
  }
}
