@import '../../../theme/variables.scss';

.container {
  width: 100%;
  box-sizing: border-box;
  margin: 0.625rem 0 1.25rem;
  padding: 0.438rem 0.75rem 0.438rem 2.5rem;
  border: 1px solid $grey-color;
  border-radius: 3px;
  box-shadow: 0 1px 0 $light-border-color;
  outline: none;
  font-size: 0.875rem;
  background: url('../../icons/Search.svg') no-repeat 0.75rem center;
}
