@import '../../../theme/variables.scss';

.container {
  position: relative;

  .icon {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    z-index: 1;
    left: 0.775rem;
  }

  input {
    border: 1px solid $grey-color;
    border-radius: 3px;
    box-shadow: 0 1px 0 $light-border-color;
    box-sizing: border-box;
    font-size: 0.875rem;
    outline: none;
    padding: 0.375rem 0.75rem 0.375rem 2.5rem;
    width: 100%;
  }
}
