@import '../../../../../theme/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;

  hr {
    background-color: $light-border-color;
    border: none;
    height: 1px;
    margin: 0;
    width: 100%;
  }
}
