@import '../../../../../theme/variables.scss';

.container {
  li {
    width: 100%;

    &:first-child {
      span {
        padding-top: 0;
      }
    }
  }
}

.deselectButton {
  font-size: 0.875rem;
  position: absolute;
  top: 0;
  right: 0;
  color: $primary-color;
  cursor: pointer;
}
