@import '../../../../../theme/variables.scss';

.container {
  font-size: 0.875rem;

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.deselectButton {
  font-size: 0.875rem;
  position: absolute;
  top: 0;
  right: 0;
  color: $primary-color;
  cursor: pointer;
}
