@import '../../../../../../../../theme/variables.scss';
.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.875rem;

  .error {
    color: $error-color;
  }
}

.seatsInput {
  input {
    width: 6.25rem;
  }
}

.seatsInputError {
  input {
    width: 6.25rem;
    border-color: $error-color;
  }
}

.optionsContainer {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.headerComponent {
  padding-bottom: 1rem;
}

.nameInput {
  margin-top: 0.5rem;
}

.errorBorder {
  input {
    border-color: $error-color;
  }
}
