@import '../../../../../../../../theme/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  gap: 1rem;
}

.headerComponent {
  padding-bottom: 1rem;

  h3 {
    margin-bottom: 0 !important;
  }
}

.nameInput {
  margin-top: 0.5rem;
  width: 50%;
}

.accordionItem {
  padding-bottom: 1.25rem;
}
