@import '../../../theme/variables.scss';

.container {
  display: grid;
  gap: 0.25rem;

  label {
    font-size: 0.8125rem;
    font-weight: $bold-font-weight;
  }

  .inputField {
    background-color: $default-background-color;
    border: 1px solid $grey-color;
    border-radius: 3px;
    color: $secondary-color;
    font-size: 0.875rem;
    padding: 0.35rem;
    width: 100%;

    &:disabled {
      border: none;
      padding: 0.35rem 0;
    }
  }

  select:disabled {
    appearance: none;
    appearance: none;
    text-indent: 1px;
    text-overflow: '';

    option {
      color: inherit; // Note: will not work on OS X
    }
  }
}
