.container {
  gap: 2rem;
}

.tableHeaderHolder {
  align-items: center;
  display: flex;
  gap: 6px;
}

.table {
  tbody {
    height: calc(100vh - (64px + 16.675rem));
  }
}

.searchBar {
  margin: 0.625rem 0 1.25rem;
}
