@import '../../../theme/variables.scss';

.container {
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  input {
    background: url('../../icons/OpenSelectMenuIcon.svg') no-repeat 95% center;
    background-color: $default-background-color;
    border: 1px solid $grey-color;
    border-radius: 3px;
    box-shadow: 0 1px 0 $light-border-color;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    padding: 0.375rem 0.75rem;

    &::placeholder {
      color: $secondary-color;
    }
  }
}

.menu {
  background-color: $default-background-color;
  border: 1px solid $grey-color;
  box-sizing: border-box;
  padding-block: 0.875rem;
  position: relative;

  li {
    cursor: default;
    padding: 0.5rem 0.875rem;

    &:not(:first-child) {
      &:hover {
        background-color: $primary-light-color;
      }
    }
  }
}

.hide {
  display: none;
}
