.accordionItemBody {
  max-height: 0;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
  opacity: 0;
}

.accordionItemBodyVisible {
  opacity: 1;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
