@import '../../../theme/variables.scss';

.accordionItem {
  border: 1px solid $light-border-color;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  width: 100%;
}

.accordionItemVisible {
  background-color: $background-grey-color;
  border-color: transparent;
  transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
