@import '../../../../../theme/variables.scss';

.container {
  display: flex;
  height: 60px;
  justify-content: flex-end;
  padding-right: 20px;

  div {
    align-items: center;
    display: flex;
    gap: 20px;
  }
}
