@import '../../../../../theme/variables.scss';

.container {
  align-items: center;
  border: 1px solid $primary-color;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  min-height: 3.625rem;
  width: 25.75rem;

  svg:nth-child(3) {
    padding: 1.313rem 1.5rem;

    g {
      cursor: pointer;
    }
  }
}

.iconHolder {
  align-items: center;
  background-color: $primary-color;
  display: flex;
  height: 100%;
  justify-content: center;
  min-width: 4rem;
}

.fileInfoContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0.6875rem 0.875rem;
  width: 16.75rem;

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  span:nth-child(2) {
    font-size: 0.75rem;
  }
}
