@import '../../theme/variables.scss';

.container {
  background-color: $secondary-color;
  color: $invert-color;
  min-width: 280px;
  position: sticky;

  .organizationContainer {
    align-items: center;
    display: flex;
    gap: 1rem;
    padding: 24px 24px 34px;

    .name {
      font-size: 1rem;
      font-weight: $bold-font-weight;
    }
  }
}
