@import '../../theme/variables.scss';

.container {
  height: calc(100vh - $header-height);
  position: sticky;
  top: $header-height;
  min-width: 280px;
  background-color: $secondary-color;
  color: $invert-color;

  .organizationContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 24px 24px 34px;

    .name {
      font-size: 1rem;
      font-weight: $bold-font-weight;
    }
  }
}
