@import '../../../../../../theme/variables.scss';

.container {
  .activeOrganizationContainer {
    align-items: center;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }

  .organizationsListDescription {
    color: $grey-color;
    margin: 20px 0;
  }

  .linksList {
    display: grid;
    gap: 15px;
    margin: 20px 0;
  }

  .ctaLabel {
    margin: 0.5rem 0 1.5rem;
    text-align: center;
  }

  .fullWidthCta {
    width: 100%;
  }
}
