@import '../../theme/variables.scss';

.container {
  h1 {
    font-weight: $light-font-weight;
  }

  .tabsCard {
    display: flex;
    gap: 10px;
    width: 790px;
    height: 55px;
    padding: 0 30px;
    margin-top: 1rem;
    font-size: 0.75rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 1px 5px rgba(0, 0, 0, 0.12),
      0 2px 2px rgba(0, 0, 0, 0.14);
  }

  .tab {
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #fff;

    &:hover,
    &.active {
      color: $primary-color;
      border-bottom: 3px solid $primary-color;
      cursor: pointer;
      text-decoration: none;
      text-shadow: 0 0 1px;
    }
  }

  .videoContainer {
    width: 850px;

    h3 {
      margin-top: 1.2rem;
      font-weight: $light-font-weight;
      text-transform: capitalize;
    }

    iframe {
      margin-top: 1rem;
    }
  }
}
