@import '../../../theme/variables.scss';

.container {
  align-items: center;
  display: flex;
  gap: 0.625rem;

  strong {
    cursor: pointer;
    font-size: 0.875rem;
    user-select: none;
  }

  input {
    /* removing default appearance */
    appearance: none;
    border: 2px solid #9e9ea2;
    border-radius: 3px;
    cursor: pointer;
    height: 1rem;
    /* creating a custom design */
    width: 1rem;
  }
}

input.checked::before {
  color: #fff;
  content: '\2714';
  margin-left: 0.0675rem;
}

input.checked {
  background-color: $primary-color;
  border: none;
}
