.container {
  align-items: flex-end;
  display: flex;
  height: 5.75rem;
  justify-content: space-between;
  position: relative;

  .headersHolder {
    display: flex;
    flex-direction: column;
    height: 100%;

    h1 {
      margin-top: auto;
    }
  }
}
