@import '../../../theme/variables.scss';

.container {
  box-shadow: $table-shadow;
  height: 100%;

  table tbody {
    display: block;
    -ms-overflow-style: none; /* IE and Edge */
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    // Hide scrollbar in Chrome,Safari,Opera
    &::-webkit-scrollbar {
      display: none;
    }
  }

  tbody {
    position: relative;
  }

  table thead,
  table tbody tr {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  td,
  th,
  table {
    border-bottom: 1px solid $light-border-color;
  }

  table {
    border-collapse: collapse;
    min-width: calc(25vh + 450px);
    white-space: nowrap;

    th {
      padding: 0 1.5rem;
      text-align: left;
    }

    tr {
      height: 3rem;
    }

    td {
      box-sizing: border-box;
      padding: 0 1.5rem;
      width: 5rem;

      &:hover {
        background-color: $primary-light-color;
      }

      svg {
        vertical-align: middle;
      }
    }
  }
}
