@import '../../../theme/variables.scss';

.container {
  box-shadow: $table-shadow;

  table tbody {
    display: block;
    overflow-y: auto;
    // Hide scrollbar in Chrome,Safari,Opera
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  tbody {
    max-height: calc(100vh - 330px);
  }

  table thead,
  table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  td,
  th,
  table {
    border-bottom: 1px solid $light-border-color;
  }

  table {
    border-collapse: collapse;
    white-space: nowrap;
    min-width: calc(30vh + 450px);

    th {
      text-align: left;
      padding: 0px 24px;
      min-width: calc(3vw + 70px);
    }

    tr {
      height: 48px;
    }

    td {
      box-sizing: border-box;
      padding: 0px 24px;

      &:hover {
        background-color: $primary-light-color;
      }

      svg {
        vertical-align: middle;
      }
    }
  }
}
